@import "~bootstrap/scss/bootstrap";
@import "~react-day-picker/lib/style";


body {
  background-color: #eeeeee;
}

.navbar-nav {
  align-items: center
}

.formDiv {

  .container {
    background-color: #fff;
    margin: 50px auto;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 3px #ccc);
  } 
}

.formDiv.transactionForm {
  // width: 450px;
  .container {
    background: none;
    margin: 0;
    filter: drop-shadow(2px 2px 3px #eee);
    padding-left: 0;
    padding-right: 0;
  }
}

.dateFieldContainer {
  width: 201px;
}


.modal-header {
  background-color: #eee;
}


.credit {
  color: #008000;
}

.tableBackground.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 3px #ccc);
}

.fill {
  background-color: #eee;
}

thead {
  border: none;
  border-color: #fff;
  border-bottom: 1px solid #bbb;
}

.monthYearToggle {
  display: flex;
  align-items: center;
  justify-content: center;

  .monthYear {
    width: 40%;
    text-align: center;
  }

  .togglButton {
    display: flex;
    align-items: center;
    width: 20px; 
    height: 20px; 
    background: none;
    border: none;
    color: #808080;
  }
  .rightButton {
    margin-left: 5px;
  }

  .leftButton {
    margin-right: 12px;
  }

}

td {
  text-align: center;
}


@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    flex-basis: 0;
    flex-grow: 0;
}
}


@media (max-width: 992px) {

  .transactionForm {
    width: 100%;
  }
  
  .dateFieldContainer {
    width: 100%;
  }
}